@font-face {
  font-family: 'RobotoMono';
  font-weight: 100;
  font-style: normal;
  src: local('RobotoMono'), url('../fonts/RobotoMono/static/RobotoMono-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoMono';
  font-weight: 100;
  font-style: italic;
  src: local('RobotoMono'), url('../fonts/RobotoMono/static/RobotoMono-ThinItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoMono';
  font-weight: 300;
  font-style: normal;
  src: local('RobotoMono'), url('../fonts/RobotoMono/static/RobotoMono-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoMono';
  font-weight: 300;
  font-style: italic;
  src: local('RobotoMono'), url('../fonts/RobotoMono/static/RobotoMono-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoMono';
  font-weight: 400;
  font-style: normal;
  src: local('RobotoMono'), url('../fonts/RobotoMono/static/RobotoMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoMono';
  font-weight: 400;
  font-style: italic;
  src: local('RobotoMono'), url('../fonts/RobotoMono/static/RobotoMono-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoMono';
  font-weight: 500;
  font-style: normal;
  src: local('RobotoMono'), url('../fonts/RobotoMono/static/RobotoMono-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoMono';
  font-weight: 500;
  font-style: italic;
  src: local('RobotoMono'), url('../fonts/RobotoMono/static/RobotoMono-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoMono';
  font-weight: 700;
  font-style: normal;
  src: local('RobotoMono'), url('../fonts/RobotoMono/static/RobotoMono-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoMono';
  font-weight: 700;
  font-style: italic;
  src: local('RobotoMono'), url('../fonts/RobotoMono/static/RobotoMono-BoldItalic.ttf') format('truetype');
}
